---
---

@import 'main';

// 引入自訂義字形
$roboto-weights: (100, 300, 400, 500, 700, 900);

body {
  font-family: 'Roboto', sans-serif;
  font-weight: interpolate(
    $roboto-weights 
  ); // Use interpolate for smooth transitions
  font-display: swap; // Include for better rendering
}

/* Optional: Define styles for specific weights */
h1 {
  font-weight: 700; // Use a specific weight from $roboto-weights
}
p {
  font-family: 'Roboto';
  font-weight: 500; // Use a specific weight from $roboto-weights
}
// 消除a連結動態陰影
.shimmer {
  background: none;
}
.shimmer::before {
  animation: shimmer 1.3s;
  opacity: 0;
}
#sidebar .sidebar-bottom .icon-border{
  width: 0;
}

#sidebar .site-title{
  font-weight: 600;
}

.post-tail-wrapper .license-wrapper>a, h1+.post-meta em, h1+.post-meta time, footer em, footer a {
  font-weight: 500;
}